<div>
    <table cellspacing="0" cellpadding="0" style="width:100%; border-collapse:collapse;">
        <tbody>
            <tr>
                <td style="vertical-align:top;">
                    <div style="text-align:center;">
                        <table cellspacing="0" cellpadding="0" style="width:100%; margin-right:auto; margin-left:auto; border-collapse:collapse;">
                            <tbody>
                                <tr>
                                    <td style="vertical-align:middle; background-color:#5daf43;">
                                        <div style="text-align:center;">
                                            <table cellspacing="0" cellpadding="0" style="width:450pt; margin-right:auto; margin-left:auto; border-collapse:collapse;">
                                                <tbody>
                                                    <tr>
                                                        <td style="vertical-align:middle;">
                                                            <table cellspacing="0" cellpadding="0" style="width:100%; border-collapse:collapse;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="width:450pt; vertical-align:top;">
                                                                            <div style="text-align:center;">
                                                                                <table cellspacing="0" cellpadding="0" style="width:100%; margin-right:auto; margin-left:auto; border-collapse:collapse;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="padding:7.5pt; vertical-align:middle;">
                                                                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><a href="https://glwinba.com/portal" target="_blank" style="text-decoration:none;"><img src="https://myfiles.space/user_files/161139_47c7815d7e3b2abe/1684880049_wording-alertas-cumplimiento-2022/1684880049_wording-alertas-cumplimiento-2022-1.png" width="125" height="125" alt="https://glwinba.com/images/logos/GLWINBA_WEB.png" style="border-style: none;"></a></p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><br></p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><br></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:22.5pt 22.5pt 11.25pt; vertical-align:middle; background-color:#ffffff;">
                                                            <table cellspacing="0" cellpadding="0" style="width:100%; border-collapse:collapse;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="width:405pt; vertical-align:top;">
                                                                            <div style="text-align:center;">
                                                                                <table cellspacing="0" cellpadding="0" style="width:100%; margin-right:auto; margin-left:auto; border-collapse:collapse;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="vertical-align:middle;">
                                                                                                <h1 style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:27pt;"><span style="font-family:Helvetica; font-size:22.5pt; color:#212121;">&iexcl;AVISO!&nbsp;</span></h1>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="padding-top:15pt; vertical-align:middle;">
                                                                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:22.5pt;"><span style="font-family:Helvetica; font-size:14pt; color:#333333;">Estimado proveedor REPSE de {{EMPRESA_CONTRATANTE}}:&nbsp;</span></p>
                                                                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:22.5pt;"><span style="font-family:Helvetica; font-size:14pt; color:#333333;">&nbsp;</span></p>
                                                                                                <table cellspacing="0" cellpadding="0" style="width:100%; margin-right:7.05pt; margin-left:7.05pt; border-collapse:collapse; float:left;">
                                                                                                    <tbody>
                                                                                                        <tr style="height:1.35pt;">
                                                                                                            <td style="width:100%; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top;">
                                                                                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:22.5pt;"><strong><em><span style="font-family:Helvetica; font-size:14pt; color:#333333;">{{razon_social}}</span></em></strong></p>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:22.5pt;"><span style="font-family:Helvetica; font-size:14pt; color:#333333;">&nbsp;</span></p>
                                                                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:22.5pt;"><span style="font-family:Helvetica; font-size:14pt; color:#333333;">Le recordamos que la obligaci&oacute;n como REPSE surgi&oacute; a partir del primero de septiembre del 2021.&nbsp;</span></p>
                                                                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:22.5pt;"><span style="font-family:Helvetica; font-size:14pt; color:#333333;">&nbsp;</span></p>
                                                                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:22.5pt;"><span style="font-family:Helvetica; font-size:14pt; color:#333333;">Al d&iacute;a de hoy&nbsp;</span><strong><span style="font-family:Helvetica; font-size:14pt; color:#333333;">su Score de cumplimiento es del {{score}} relativo al cumplimiento del mes de {{MES_CUMPLIMIENTO}} del a&ntilde;o {{AÑO}}</span></strong><span style="font-family:Helvetica; font-size:14pt; color:#333333;">, por lo que lo invitamos a cumplir en tiempo con sus obligaciones dentro del Portal DST CESE.&nbsp;</span></p>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="padding-top:15pt; vertical-align:middle;">
                                                                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:22.5pt;"><span style="font-family:Helvetica; font-size:14pt; color:#333333;">&nbsp;</span></p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><br></p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><br></p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><br></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Helvetica; display:none;">&nbsp;</span></p>
                    <div style="text-align:center;">
                        <table cellspacing="0" cellpadding="0" style="width:100%; margin-right:auto; margin-left:auto; border-collapse:collapse;">
                            <tbody>
                                <tr>
                                    <td style="vertical-align:middle;">
                                        <div style="text-align:center;">
                                            <table cellspacing="0" cellpadding="0" style="width:450pt; margin-right:auto; margin-left:auto; border-collapse:collapse;">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding-right:18.75pt; padding-left:18.75pt; vertical-align:middle; background-color:#ffffff;">
                                                            <table cellspacing="0" cellpadding="0" style="width:100%; border-collapse:collapse;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="width:412.5pt; vertical-align:top;">
                                                                            <div style="text-align:center;">
                                                                                <table cellspacing="0" cellpadding="0" style="width:100%; margin-right:auto; margin-left:auto; border-collapse:collapse;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="padding-top:15pt; padding-bottom:15pt; vertical-align:middle;">
                                                                                                <div style="text-align:center;">
                                                                                                    <table cellspacing="0" cellpadding="0" style="width:100%; margin-right:auto; margin-left:auto; border-collapse:collapse;">
                                                                                                        <tbody>
                                                                                                            <tr style="height:0.75pt;">
                                                                                                                <td style="width:100%; border-bottom:1.5pt solid #cccccc; vertical-align:middle;">
                                                                                                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Helvetica; display:none;">&nbsp;</span></p>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </div>
                                                                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><br></p>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="vertical-align:middle;">
                                                                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr style="height:146.45pt;">
                                                                                            <td style="vertical-align:middle;">
                                                                                                <p style="margin-top:0pt; margin-bottom:12pt; text-align:justify; font-size:11.5pt;"><strong><span style="font-family:Helvetica; color:#333333;">Le recordamos que el cumplimiento es a mes vencido. Dentro del portal en el mes de {{MES_CUMPLIMIENTO}} deber&aacute; cargar la documentaci&oacute;n requerida correspondiente al cumplimiento del mes de {{MES}}.&nbsp;</span></strong></p>
                                                                                                <p style="margin-top:0pt; margin-bottom:12pt; text-align:justify; font-size:11.5pt;"><span style="font-family:Helvetica; color:#333333;">&nbsp;</span></p>
                                                                                                <p style="margin-top:0pt; margin-bottom:12pt; text-align:justify; font-size:11.5pt;"><span style="font-family:Helvetica; color:#333333;">Puede ingresar al Portal GL Winba a trav&eacute;s de la siguiente URL:</span></p>
                                                                                                <p style="margin-top:0pt; margin-bottom:12pt; text-align:center; font-size:12pt;"><span style="font-family:Helvetica; font-size:11.5pt; color:#333333;">&nbsp;</span><a href="https://www.glwinba.com/portal/" style="text-decoration:none;"><span style="font-family:Helvetica; font-size:11.5pt; color:#0000ff;">https://www.glwinba.com/portal/</span></a></p>
                                                                                                <p style="margin-top:0pt; margin-bottom:12pt; text-align:center; font-size:12pt;"><br><span style="font-family:Helvetica; font-size:11.5pt; color:#333333;">Puede descargar la gu&iacute;a de uso&nbsp;</span><span style="font-family:Arial;">del Portal DST CESE&nbsp;</span><span style="font-family:Helvetica; font-size:11.5pt; color:#333333;">en el siguiente enlace:</span></p>
                                                                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><a href="https://drive.google.com/drive/folders/1WZaIRXb-WeBo86BEEcN_M-RejsQ_HwvT?usp=sharing" style="text-decoration:none;"><span style="font-family:Helvetica; font-size:11.5pt; color:#0000ff;">Da clic aqu&iacute; para descargar</span></a></p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><br></p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><br></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:3.75pt 18.75pt; vertical-align:middle; background-color:#ffffff;">
                                                            <table cellspacing="0" cellpadding="0" style="width:100%; border-collapse:collapse;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="width:412.5pt; vertical-align:top;">
                                                                            <div style="text-align:center;">
                                                                                <table cellspacing="0" cellpadding="0" style="width:100%; margin-right:auto; margin-left:auto; border-collapse:collapse;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="padding-top:15pt; padding-bottom:15pt; vertical-align:middle;">
                                                                                                <div style="text-align:center;">
                                                                                                    <table cellspacing="0" cellpadding="0" style="width:100%; margin-right:auto; margin-left:auto; border-collapse:collapse;">
                                                                                                        <tbody>
                                                                                                            <tr style="height:0.75pt;">
                                                                                                                <td style="width:100%; border-bottom:1.5pt solid #cccccc; vertical-align:middle;">
                                                                                                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </div>
                                                                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><br></p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><br></p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><br></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-top:15pt; padding-right:22.5pt; padding-left:22.5pt; vertical-align:middle; background-color:#ffffff;">
                                                            <table cellspacing="0" cellpadding="0" style="width:100%; border-collapse:collapse;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="width:405pt; vertical-align:top;">
                                                                            <div style="text-align:center;">
                                                                                <table cellspacing="0" cellpadding="0" style="width:100%; margin-right:auto; margin-left:auto; border-collapse:collapse;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="vertical-align:middle; background-color:#ffffff;">
                                                                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><a href="https://glwinba.com/portal" target="_blank" style="text-decoration:none;"><img src="https://myfiles.space/user_files/161139_47c7815d7e3b2abe/1684880049_wording-alertas-cumplimiento-2022/1684880049_wording-alertas-cumplimiento-2022-2.png" width="200" height="134" alt="https://glwinba.com/images/logos/Logo_GLWINBA.png" style="border-style: none;"></a></p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><br></p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><br></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-top:15pt; padding-right:22.5pt; padding-left:22.5pt; vertical-align:middle; background-color:#ffffff;">
                                                            <table cellspacing="0" cellpadding="0" style="width:100%; border-collapse:collapse;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="width:405pt; vertical-align:top;">
                                                                            <div style="text-align:center;">
                                                                                <table cellspacing="0" cellpadding="0" style="width:100%; margin-right:auto; margin-left:auto; border-collapse:collapse;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="vertical-align:middle;">
                                                                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:24pt;"><span style="font-family:Helvetica; font-size:12pt; color:#131313;">Corporativo N&aacute;poles Insurgentes Sur No. 863, Piso 10 N&aacute;poles, 03810, Ciudad de M&eacute;xico&nbsp;</span></p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><br></p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><br></p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><br></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Helvetica; display:none;">&nbsp;</span></p>
                    <div style="text-align:center;">
                        <table cellspacing="0" cellpadding="0" style="width:100%; margin-right:auto; margin-left:auto; border-collapse:collapse;">
                            <tbody>
                                <tr>
                                    <td style="vertical-align:middle; background-color:#cfcb31;">
                                        <div style="text-align:center;">
                                            <table cellspacing="0" cellpadding="0" style="width:450pt; margin-right:auto; margin-left:auto; border-collapse:collapse;">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding:22.5pt; vertical-align:middle; background-color:#efefef;">
                                                            <table cellspacing="0" cellpadding="0" style="width:100%; border-collapse:collapse;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="width:405pt; vertical-align:middle;">
                                                                            <div style="text-align:center;">
                                                                                <table cellspacing="0" cellpadding="0" style="width:100%; margin-right:auto; margin-left:auto; border-collapse:collapse;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="vertical-align:middle;">
                                                                                                <div style="text-align:center;">
                                                                                                    <table cellspacing="0" cellpadding="0" style="margin-right:auto; margin-left:auto; border-collapse:collapse;">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td style="padding-right:11.25pt; vertical-align:top;">
                                                                                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><a href="https://www.facebook.com/garridolicona" target="_blank" style="text-decoration:none;"><img src="https://myfiles.space/user_files/161139_47c7815d7e3b2abe/1684880049_wording-alertas-cumplimiento-2022/1684880049_wording-alertas-cumplimiento-2022-3.png" width="64" height="64" alt="Fb" style="border-style: none;"></a></p>
                                                                                                                </td>
                                                                                                                <td style="padding-right:11.25pt; vertical-align:top;">
                                                                                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><a href="https://twitter.com/GarridoLicona" target="_blank" style="text-decoration:none;"><img src="https://myfiles.space/user_files/161139_47c7815d7e3b2abe/1684880049_wording-alertas-cumplimiento-2022/1684880049_wording-alertas-cumplimiento-2022-4.png" width="64" height="64" alt="Tw" style="border-style: none;"></a></p>
                                                                                                                </td>
                                                                                                                <td style="padding-right:11.25pt; vertical-align:top;">
                                                                                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><a href="https://www.instagram.com/garridolicona/" target="_blank" style="text-decoration:none;"><img src="https://myfiles.space/user_files/161139_47c7815d7e3b2abe/1684880049_wording-alertas-cumplimiento-2022/1684880049_wording-alertas-cumplimiento-2022-5.png" width="64" height="64" alt="Inst" style="border-style: none;"></a></p>
                                                                                                                </td>
                                                                                                                <td style="padding-right:11.25pt; vertical-align:top;">
                                                                                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><a href="https://www.youtube.com/channel/UCSdaIfm9C6Nnr6E0mMgV5RA" target="_blank" style="text-decoration:none;"><img src="https://myfiles.space/user_files/161139_47c7815d7e3b2abe/1684880049_wording-alertas-cumplimiento-2022/1684880049_wording-alertas-cumplimiento-2022-6.png" width="64" height="64" alt="Yt" style="border-style: none;"></a></p>
                                                                                                                </td>
                                                                                                                <td style="vertical-align:top;">
                                                                                                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><a href="https://www.linkedin.com/in/garrido-licona-y-asociados-469439100/" target="_blank" style="text-decoration:none;"><img src="https://myfiles.space/user_files/161139_47c7815d7e3b2abe/1684880049_wording-alertas-cumplimiento-2022/1684880049_wording-alertas-cumplimiento-2022-7.png" width="64" height="64" alt="In" style="border-style: none;"></a></p>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </div>
                                                                                                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><br></p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><br></p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><br></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="vertical-align:middle;">
                                                            <table cellspacing="0" cellpadding="0" style="width:100%; border-collapse:collapse;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="width:450pt; vertical-align:top;">
                                                                            <div style="text-align:center;">
                                                                                <table cellspacing="0" cellpadding="0" style="width:100%; margin-right:auto; margin-left:auto; border-collapse:collapse;">
                                                                                    <tbody>
                                                                                        <tr style="height:20pt;">
                                                                                            <td style="vertical-align:middle;">
                                                                                                <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><br></p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><br></p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><br></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><br></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>